<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>sumadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

     <ion-item>

      <ion-input label="NUMERO1" type="Number" labelplacement="floating" [(ngModel)]="Numero1" placeholder="ingrese un numero"></ion-input>

    </ion-item>

    <ion-item>
      <ion-input label="NUMERO 2" type="Number" labelplacement="floating" [(ngModel)]="Numero2" placeholder="ingrese un numero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button id="boton" (click)="sumar()">SUMA</ion-button> 
    </ion-item>

    <ion-item>
      resultado: {{Resultado}}
    </ion-item>

</ion-list>
 
</ion-content>
