<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre mi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicacion de prueba usando ionic</p>
    </ion-card-content>
    <img src="/assets/icon/Andy Foto.jpg" alt="">
  </ion-card>
</ion-content>
